<%- include('./partials/head.ejs') %>

    <body>

        <div id="navbar"></div>

        <div class="text-center headingText">
            <h1 class="display-4">Order our food at home</h1>
        </div>

        <div class="gird">
            <a href="/main_index.html">
                <div class="shadow-sm">
                    <div>
                        <img src="./assets/restaurant.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="display-3_1">Restaurant</h5>
                    </div>
                </div>
            </a>

            <a href="/trending">
                <div class="shadow-sm">
                    <div>
                        <img src="./assets/food_menu.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="display-3_1">Food Menu</h5>
                    </div>
                </div>
            </a>

            <a href="/search">
                <div class="shadow-sm">
                    <div>
                        <img src="./assets/search.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="display-3_1">Search Food</h5>
                    </div>
                </div>
            </a>

            <a href="/cart">
                <div class="shadow-sm">
                    <div>
                        <img src="./assets/cart.png" alt="">
                    </div>
                    <div>
                        <h5 class="display-3_1">Your Cart</h5>
                    </div>
                </div>
            </a>

        </div>


        <%- include('./partials/footer.ejs') %>