<%- include('./partials/head.ejs') %>

    <body>

        <div id="mainBox">
            <img src="../assets//order-placed.gif" alt="">
        </div>

    </body>

    </html>

    <script src="/js/scripts/orderPlaced.js"></script>

    <%- include('./partials/footer.ejs') %>