<%- include('./partials/head.ejs') %>

    <body>

        <div id="navbar"></div>

        <div id="foodBox">
            <p class="display-6 mb-4 text-center">Search your favourite food</p>
            <input id="foodName" type="text" class="form-control" placeholder="Type your food here">
        </div>

        <div id="searchPic"></div>

        <div id="display"></div>


        <%- include('./partials/footer.ejs') %>